<!-- This page is only making for showing about content-->
{% extends "layout.html" %} {% block content %}
<h1>About Page</h1>
<h3>In This Project</h3>
<p>1. You can create a project</p>
<p>2. You can add Task</p>
<p>3. Edit both Task and Project</p>
{% endblock content %}
