{% extends "layout1.html" %} {% block content %}
<!--extending laout1.html from because we donot repeact same work at all pages.
in this we are showing all the list of projects . here all clssses are used it is defined in the 
main.css file it is stored in static folder.
-->
<h2 class="heading1">All Projects</h2>
<table class="table">
	<tr class="table__header">
		{% for head in heading%}
		<!-- taking a for loop to showing all the headings of database values-->
		<th class="table__cell_heading">{{ head }}</th>
		<!-- showing all the heading here -->
		{% endfor%}
		<!-- end of for loop -->
	</tr>
	{% for project in projects %}
	<!-- showing all projects saved in databaset -->
	<tr class="table__row">
		<th class="table__cell">{{ project.id }}</th>
		<!-- project ID-->
		<th class="table__cell">{{ project.proj_name }}</th>
		<!-- project name -->
		<th class="table__cell">{{ project.description}}</th>
		<!-- Project Description-->
		<th class="table__cell">{{ project.start_date }}</th>
		<!-- project starting date-->
		<th class="table__cell">{{ project.end_date }}</th>
		<!-- project ending date-->
		<th class="table__cell">{{ project.status }}</th>
		<!-- project status-->
		<th>
			<div>
				<a
					class="btn btn-secondary btn-sm mt-1 mb-1"
					href="{{ url_for('project_update',projec_id = project.id) }}"
					>Update</a
				>
			</div>
		</th>
	</tr>
	{% endfor %}
</table>

{% endblock content %}
