<!--extending laout1.html from because we donot repeact same work at all pages.
in this we are showing all the list of tasks . here all clssses are used it is defined in the 
main.css file it is stored in static folder.
-->
<h2 class="heading1">All Tasks</h2>
{% extends "layout1.html" %} {% block content %}
<table class="table">
	<tr class="table__header">
		{% for head in heading%}
		<th class="table__cell_heading">{{ head }}</th>
		{% endfor%}
	</tr>
	{% for task in tasks%}
	<!-- taking for loop to print all tasks values  -->
	<tr class="table__row">
		<th class="table__cell">{{ task.id }}</th>
		<th class="table__cell">{{ task.task_title }}</th>
		<th class="table__cell">{{ task.task_description}}</th>
		<th class="table__cell">{{ task.extimated_hours }}</th>
		<th class="table__cell">{{ task.acctual_hour_spend }}</th>
		<th class="table__cell">{{ task.comments }}</th>
		<th class="table__cell">{{ task.status }}</th>
		<th class="table__cell">{{ task.assign_to }}</th>
		<th class="table__cell">{{ task.project1 }}</th>
		<th class="table__cell">{{ task.compby_date }}</th>
		<th>
			<div>
				<a
					class="btn btn-secondary btn-sm mt-1 mb-1"
					href="{{ url_for('task_update',taskss_id = task.id) }}"
					>Update</a
				>
			</div>
		</th>
	</tr>
	{% endfor %}
</table>

{% endblock content %}
