<!-- Extend laout.html  to mentain same layout and taking for loop for to print all the tasks and forms-->
{% extends "layout.html" %} {% block content %} {% for post in tasks %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<!-- here showing the status of projects  here "author" is backref of projects table-->
			<a class="mr-2" href="#"> Project Status - {{ post.author.status }}</a>
			<small class="text-muted"
				>&emsp;{{ post.author.start_date }}&emsp;to&emsp;{{ post.author.end_date }}
			</small>
		</div>
		<!-- making a link of project name after clicking of that project name you can see project1 details  -->
		<h2>
			<a class="article-title" href="{{url_for('project1', projec_id = post.author.id) }}"
				>{{ post.author.proj_name }}</a
			>
		</h2>
		<p class="article-content">{{ post.author.description }}</p>
		<div>
			<h4>
				<!-- here to last showing task details  -->
				<a class="article-title" href="{{ url_for('task1', taskss_id= post.id) }}"
					>{{ post.task_title }}</a
				>
			</h4>
			<small class="text-muted"> Complete by date - {{ post.compby_date}} </small>
			<p class="article-content">{{ post.task_description }}</p>
			<p class="article-content">
				Extimated Hours - {{ post.extimated_hours }} &emsp; Acctual Hour - {{
				post.acctual_hour_spend }}
			</p>
			<p class="article-content">Comment - {{ post.comments }}</p>
			<p class="article-content">Task Status - {{ post.status }}</p>
			<p class="article-content">Assign To - {{ post.assign_to }}</p>
		</div>
	</div>
</article>
{% endfor %} {% endblock content %}
<!-- end of for and end of block-->
