<!-- making purpous of this layout is showing all projects and showing all tasks we need  
full page that why this layout1 is making.
-->

<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />

		{% if title %}
		<title>SA Projects - {{ title }}</title>
		<!-- here checking if user pass any title the title is sa projects + title-->
		{% else %}
		<title>SA Projects</title>
		<!-- user dont pass then title is SA Projects-->
		{% endif %}
	</head>
	<body>
		<header class="site-header">
			<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
				<div class="container">
					<a class="navbar-brand mr-4" href="{{ url_for('saprojects') }}"> SA Projects </a>
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarToggle"
						aria-controls="navbarToggle"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						<div class="navbar-nav mr-auto">
							<a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
							<a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
						</div>
						<!-- Navbar Right Side -->
						<div class="navbar-nav">
							<a class="nav-item nav-link" href="{{ url_for('all_projects') }}"
								>All Projects</a
							>
							<a class="nav-item nav-link" href="{{ url_for('project') }}">New Projects</a>
							<a class="nav-item nav-link" href="{{ url_for('tasks') }}">New Tasks</a>
							<a class="nav-item nav-link" href="{{ url_for('all_tasks') }}">All Tasks</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8">
					{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {%
					for category, message in messages %}
					<div class="alert alert-{{ category }}">{{ message }}</div>
					{% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
				</div>
			</div>
		</main>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
	</body>
</html>
