<!-- making this html page purpose is showing particular project -->
{% extends "layout.html" %} {% block content %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#"> Project Status - {{project.status }}</a>
			<small class="text-muted">{{ project.start_date }} to {{project.end_date }} </small>
			<div>
				<a
					class="btn btn-secondary btn-sm mt-1 mb-1"
					href="{{ url_for('project_update',projec_id = project.id) }}"
					>Update</a
				>
			</div>
		</div>
		<h2 class="article-title">{{project.proj_name }}</h2>
		<p class="article-content">{{ project.description }}</p>
	</div>
</article>
{% endblock content %}
