{% extends "layout.html" %} {% block content %}
<!-- this form is the input from of project here we take input from user-->
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form_group">
			<legend class="border-bottom mb-4">{{ legend }}</legend>
			<div class="from-group">
				<!-- label are taken from froms.py -->
				{{ form.proj_name.label(class="form-control-label") }} {{
				form.proj_name(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.description.label(class="form-control-label") }} {{
				form.description(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.start_date.label(class="form-control-label") }} {{
				form.start_date(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.end_date.label(class="form-control-label") }} {{
				form.end_date(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.status.label(class="form-control-label") }} {{ form.status(class="form-control
				form-control-lg") }}
			</div>
		</fieldset>
		<br />
		<!--  this is the submit button-->
		<div class="from-group">{{ form.submit(class="btn btn-outline-info") }}</div>
	</form>
</div>
{% endblock content %}
