{% extends "layout.html" %} {% block content %}
<!-- this form is the input from of tasks here we take input from user-->
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form_group">
			<legend class="border-bottom mb-4">{{ legend }}</legend>
			<div class="from-group">
				{{ form.task_title.label(class="form-control-label") }} {{
				form.task_title(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.task_description.label(class="form-control-label") }} {{
				form.task_description(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.estimate_hr.label(class="form-control-label") }} {{
				form.estimate_hr(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.acctual_hr.label(class="form-control-label") }} {{
				form.acctual_hr(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.comments.label(class="form-control-label") }} {{
				form.comments(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.status.label(class="form-control-label") }} {{ form.status(class="form-control
				form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.assign_to.label(class="form-control-label") }} {{
				form.assign_to(class="form-control form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.project.label(class="form-control-label") }} {{ form.project(class="form-control
				form-control-lg") }}
			</div>
			<div class="from-group">
				{{ form.completed_date.label(class="form-control-label") }} {{
				form.completed_date(class="form-control form-control-lg") }}
			</div>
		</fieldset>
		<br />
		<div class="from-group">{{ form.submit(class="btn btn-outline-info") }}</div>
	</form>
</div>
{% endblock content %}
