<!-- 
	this html page making purpose is show a particular task and there is a button 
	of update . after click of update open a new form . 
-->

{% extends "layout.html" %} {% block content %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#"> Task Status - {{post.status }}</a>
			<div>
				<a
					class="btn btn-secondary btn-sm mt-1 mb-1"
					href="{{ url_for('task_update',taskss_id = post.id) }}"
					>Update</a
				>
			</div>
		</div>
		<h4 class="article-title">{{ post.task_title }}</h4>
		<small class="text-muted"> Complete by date - {{ post.compby_date}} </small>
		<p class="article-content">{{ post.task_description }}</p>
		<p class="article-content">
			Extimated Hours - {{ post.extimated_hours }} &emsp; Acctual Hour - {{
			post.acctual_hour_spend }}
		</p>
		<p class="article-content">Comment - {{ post.comments }}</p>
		<p class="article-content">Task Status - {{ post.status }}</p>
	</div>
</article>
{% endblock content %}
